.background
{
  background-image: url("/light_blue_background2.jpg");
  background-size: cover;
  background-position: center;

  min-height: 100vh;

  display: flex;

}
.container
{
  margin-top: 150px;
  width: 40%;
}
.title
{

  color: white;
  font-size: 40px;
  margin-bottom: 40px;
  margin-top: 30px;
  text-shadow: 2px 2px 4px #000;

}
.custom-card-container
{
  max-width: 600px;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 438px;
  margin-top: 80px;
}
.login
{
  color: white;
  text-shadow: 2px 2px 4px #000;

}

.register
{
  color: white;
  text-shadow: 2px 2px 4px #000;
  font-size: 20px;

}

.reset-button
{
  color: white;
  background-color: black;
  font-size: 20px;
  border-radius: 10px;
}
